<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>About Us</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="header-bg">
      <img src="assets/img/company-header.jpg">
      <h2>Get to Know more About our Company</h2>
    </div>

    <div class="company-content">
      <h2>Our Company</h2>
      <img src="assets/img/store.jpg">
      <h3>Marken Burger was founded by Matheiu Perdido in 2010 that offers customers pre-made combo meals, or the user can create their own. The objective is to offer high-quality burgers at a lower cost and the goal is to compete using ghost or cloud kitchens and conducting all operations online. </h3>
    </div>

    <div class="company-founders">
      <h2>The Company Founding Members</h2>

      <img src="assets/img/members/member1.jpg">
      <h3>Danward Bautista</h3>
      <h4>Founder</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>

          <ion-col size="2">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>

          <ion-col size="5">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <img src="assets/img/members/member2.jpg">
      <h3>Ghobel De Jesus</h3>
      <h4>Founder</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>

          <ion-col size="2">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>

          <ion-col size="5">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <img src="assets/img/members/member3.jpg">
      <h3>Jericho Gesmundo</h3>
      <h4>Founder</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>

          <ion-col size="2">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>

          <ion-col size="5">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <img src="assets/img/members/member4.jpg">
      <h3>Matheiu Perdido</h3>
      <h4>Founder</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>

          <ion-col size="2">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>

          <ion-col size="5">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <img src="assets/img/members/member5.jpg">
      <h3>Julian Signo</h3>
      <h4>Founder</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>

          <ion-col size="2">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>

          <ion-col size="5">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <div class="company-information">
      <h2>Company Information</h2>
      <h3><span>Company Address: </span>Penthouse 1, One Corporate Center Meralco Ave cor Julia Vargas Ave, Ortigas Center, Pasig, 1605 Metro Manila</h3>
      <h3><span>Company Phone: </span>#245-8874</h3>
      <h3><span>Email: </span>support@markenburgers.coms</h3>
    </div>


  </div>

</ion-content>
