ion-toolbar{
    --background: var(--color-3);
}
ion-content{
    --background: rgb(255, 242, 242);
    // rgb(233, 244, 255); var(--color-1-light);
}

.header-details{
    --background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    ion-card-title{
        color: white;
    }
}

.content-details{
    color: black;
}

.line{
    height: 1px;
    width: 100%;
    background-color: gray;
    margin: auto;
    margin: 10px;
    margin-left: 0;
}

.navigation{
    padding: 15px;
    ion-button{
        width: 100%;
    }
}

.orderID{
    display: flex; 
    justify-content: space-between;
    p{
        margin: auto;
        margin-left: 0;
    }
}