<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"></form> -->
  <h5 style="margin-left: 10px;">LOGIN TO YOUR MARKEN ACCOUNT</h5>
  <div class="login">
    <input
    type="text"
    id="email"
    class="form-default"
    autocomplete="off"
    placeholder="Enter your Username or Email"
    >

    <input
      type="password"
      id="password"
      class="form-default"
      autocomplete="off"
      placeholder="Enter your Password"
    >

    <button 
      type="submit"
      class="btn-default"
      disabled
    >
    Login
    </button>
  </div>
  <button class="btn-clear"
  [routerLink]="['/register']">
    Don't have a Marken Account?
  </button>
</ion-content>
