<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Contact Us</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">

    <div class="header-bg">
      <img src="assets/img/contact-bg.jpg">
      <h2>Get in Touch!</h2>
    </div>
  </div>

  <div class="contact-form">
   <ion-input class="name-input" placeholder="Your Full Name*"></ion-input>
   <ion-input class="email-input" placeholder="Your Email*"></ion-input>
   <ion-input class="message-input" placeholder="Your Message*"></ion-input>

   <div class="btn-submit">
    <ion-button class="custom-button">Submit</ion-button>
   </div>
  </div>

</ion-content>
