<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="title-header">Contact</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="content">

    <div class="header-bg">
      <img src="assets/img/contact-bg.jpg">
      <h2>Get in Touch!</h2>
    </div>
  </div>
  <form [formGroup]="ContactForm" (ngSubmit)="onSubmit()">
  <div class="contact-form">
    <h2 class="title-contact">Email Us</h2>
    <ion-icon name="mail-outline"></ion-icon>
    <h3 class="email-instruction">Fill up the form below and we will get back to you within 24 hours</h3>
    <!--SENDER NAME-->
    <h4 class="form-sub">Name:</h4>
    <input type="text" formControlName="senderName" class="name-input" autocomplete="off"
    placeholder="Enter your Name">
    <div *ngIf="ContactForm.get('senderName').invalid && ContactForm.get('senderName').touched">
      <p *ngIf="ContactForm.get('senderName').errors?.required" class="form-err-msg">Name is required</p>
    </div>

    <!--SENDER EMAIL-->
    <h4 class="form-sub">Email:</h4>
    <input type="text" id="email" formControlName="senderEmail" class="name-input" autocomplete="off"
    placeholder="Your Email*">
    <div *ngIf="ContactForm.get('senderEmail').invalid && ContactForm.get('senderEmail').touched">
      <p *ngIf="ContactForm.get('senderEmail').errors?.required" class="form-err-msg">Email is required.</p>
    </div>

    <!--SENDER MESSAGE-->
    <h4 class="form-sub">Message:</h4>
    <input type="text" id="email" formControlName="senderMessage" class="message-input" autocomplete="off"
    placeholder="Your Message*">
    <div *ngIf="ContactForm.get('senderMessage').invalid && ContactForm.get('senderMessage').touched">
      <p *ngIf="ContactForm.get('senderMessage').errors?.required" class="form-err-msg">Message is required.</p>
    </div>
   

   
   <!---<ion-input class="email-input" placeholder="Your Email*"></ion-input>
   <ion-input class="message-input" placeholder="Your Message*"></ion-input>
   -->


   <div class="btn-submit">
    <ion-button class="custom-button" (click)="onSubmit()">Submit</ion-button>
   </div>
  </div>
  </form>


  <!--Contact Information-->
  <div class="contact-info-section">
    <h2 class="title-contact">Call Us</h2>
    <ion-icon name="call-outline"></ion-icon>
    <h3 class="cp-num">+639581452614</h3>
    <h4 class="outline-instruction">For ordering information and to learn more, contact us using the number provided</h4>
  </div>

  <!--Social Media-->
  <div class="platform-section">
    <h2 class="title-contact">Our Social Media</h2>
    <h4 class="soc-name"><ion-icon name="logo-facebook"></ion-icon> Marken Burger Inc.</h4>
    <ion-button class="custom-btn">Visit</ion-button>
    <h4 class="soc-name"><ion-icon name="logo-twitter"></ion-icon> Marken Burger Inc.</h4>
    <ion-button class="custom-btn">Visit</ion-button>
    <h4 class="soc-name"><ion-icon name="logo-instagram"></ion-icon> Marken Burger Inc.</h4>
    <ion-button class="custom-btn">Visit</ion-button>
  
    <h4 class="outline-instruction">Find us elsewhere</h4>
  </div>

  <!--FAQ'S-->
  <div class="freq-div">
    <h2>Frequently Asked Questions</h2>
    <h3>Q:How will I know that my order is arriving?</h3>
    <h4>A: You can go to our 'Track' page located at our navigation bar to track your order. Furthermore, our riders would notify you through text. Click here to go to to tracking page</h4>
    <h3>Q:Can i still cancel my order?</h3>
    <h4>A: You can still cancel your order if it's in 'Queue' but it's being 'Made' or 'On-Delivery' you can't cancel it anymore. Go to 'Track' page to see your order status.</h4>
    <h3>Q:Do I need to make an account to be able to order food?</h3>
    <h4>A: No you can order as a guest but we still advice you make your own account when ordering to keep track of your orders and we can recommend you some burger builds that you will like.</h4>
    <h3>Q:How can I give my feedback regarding a product or service?</h3>
    <h4>A: After an item has been delivered to you, on the 'Track' page you will be able to give a feedback that our human resource would review.</h4>
    <h3>Q:Do you have options for vegetarians?</h3>
    <h4>A: Yes, we offer non-meat options for our vegetarian customers both on our preset selections and our burger builders.</h4>
    <h3>Q:There is something that is not available on the menu, can I make a request?</h3>
    <h4>A: You can send a message to us using our contact form above. We do not guarantee that your item requested would be added immediately.</h4>
  </div>

</ion-content>
