<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="previousPage()" class="back-btn">
      <ion-icon style="font-size: 25px" name="chevron-back-outline" class="header-back-button"> </ion-icon>Back
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let item of products; let number=index;" size="6">
        <ion-card (click)="viewProduct(item.id)" style="margin: 0;">
          <img src="{{imgUrl + item.image}}">
          <ion-card-header>
            <h3 style="margin: 0;">{{item.name}}</h3>
            <h4 style="margin: 0; color: black; font-weight: bold;">Php {{item.price}}</h4>
          </ion-card-header>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-card *ngFor="let item of products; let number=index;">
    <h1>{{item.name}}</h1>
    <h3>Php {{item.price}}</h3>
  </ion-card> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div class="notif">
      <p>{{cartItemCount | async}}</p>
    </div>
    <ion-fab-button (click)="openCart()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
