/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Courgette';
    src: url('assets/fonts/Courgette-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/fonts/Ubuntu-Light.ttf');
}

:root{
    // green
    --color-1: green;
    --color-1-dark: rgb(0, 96, 0);
    --color-1-light: rgb(114, 185, 114);
    // blue
    --color-2: #067bc2;
    // yellow
    --color-3: #FFAD05;
    --color-3-dark: #c58504;
    --color-3-light: #fff6e4;
}

.form-default{
    height: 46px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
    border: none;
    transition: 0.07s;
    border-bottom: 2px solid gray;
    margin: 10px;

}

.form-default:focus{
    outline: none;
    background-color: rgb(235, 235, 235);
    border-bottom: 4px solid red;
    ::placeholder{
        font-weight: bold;
        color: red;
    }
}

.form-err-msg{
    color: red;
    margin: 0;
    margin-left: 15px;
}

.btn-default{
    background-color: var(--color-1);
    height: 45px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: medium;
    margin: 10px;
    text-align: center;
}

.btn-default:active{
    background-color: var(--color-1-dark);
}

.btn-default:disabled{
    background-color: var(--color-1-light);
}

.btn-secondary{
    background-color: var(--color-3);
    height: 45px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: medium;
    margin: 10px;
    text-align: center;
}

.btn-secondary:active{
    background-color: var(--color-3-dark);
}

.btn-secondary:disabled{
    background-color: var(--color-3-light);
}

.title-header{
    font-weight: bold;
    color: white;
}



.btn-clear{
    background-color: transparent;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    color: var(--color-2);
    font-size: medium;
    margin: 10px;
    text-align: center;
}

.content-green{
    background-color: var(--color-1);
    --background: var(--color-1);
}

.back-btn{
    color: white;
}