<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="title-header">Home</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    <div class="bg-tint">
      <img class="home-bg-img" src="assets/img/bgHOME.jpg">
    </div>

    <div class="main-content">
      <div class="header-logo">
        <img src="assets/img/logo transparent.png">
      </div>
      <div class="main-content-title">
        Fresh and Delicious
      </div>
      <div class="main-content-text ion-text-left">
        We serve the best meals with the freshiest ingredients and deliver at the best prices.
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button class="custom-button" size="small" style="border-radius: 0px" [routerLink]="['/about']">Read More</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="email-user-card ion-text-center">
      Subscribe to be our <strong>item updates</strong>
      <ion-input class="email-input" placeholder="Your email*"></ion-input>
      <small style="font-size:12px;">*By entering your email you agree to our <u>terms & conditions</u>.</small>
      <br>
      <ion-button class="custom-button">Subscribe</ion-button>
    </div>

    <!--SLIDES-->
    <div class="trending-products">
      <h2 class="title-product">Trending Products</h2>

      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let product of this.products">
            <ion-card class="products-card">
              <ion-card-header>
                <img src="{{imgUrl + product.image}}">
                <ion-card-title  class="card-name">
                  {{ product.name }}
                </ion-card-title>
                <span class="card-price">
                  ₱{{ product.price }}
                </span>
                <ion-card-content>

                  <ion-button class="custom-button" expand="full" [routerLink]="['/shop']">View
                    Item</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          
        </ion-slide>
      </ion-slides>
    </div>

    <!--NEWS-->
    <h2 class="title-product">News</h2>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        
        <div class="homepage-card-outline">
          <div class="homepage-card-above" >
            Burger of the Month
          </div>
          <img class="homepage-card-image" src="assets/img/burger-builder.jpg">
          <div class="homepage-card-content ion-text-left">
            The burger made by Antone Cooper was chosen as the Best Burger of the Month and consists of beef patty, pepper jack cheese, onion, and special sauce.
          </div>

        </div>

      </ion-slide>
      <ion-slide>
        <div class="homepage-card-outline">
          <div class="homepage-card-above" >
            Certified Angus Beef
          </div>
          <img class="homepage-card-image" src="assets/img/patty.jpg">
          <div class="homepage-card-content ion-text-left">
            Marken Burger, one of the largest stores in Metro Manila is investing in Angus beef to satisfy and guarantee the supply of high-quality patties.
          </div>

        </div>
      </ion-slide>
      <ion-slide>
        <div class="homepage-card-outline">
          <div class="homepage-card-above" >
            Flash Sale
          </div>
          <img class="homepage-card-image" src="assets/img/burger-sale.jpg">
          <div class="homepage-card-content ion-text-left">
            Selected burgers will go on sale. The limited-time promotion begins on November 10, 2022. Catch it from 9 am to 5 pm.
          </div>
        </div>
      </ion-slide>
    </ion-slides>

</ion-content>

<!--TEST-->
