#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.home-bg-img{
  position: absolute;
  z-index:-1;
  height:350px;
  background: black;
  width: 100%;
  object-fit: cover;
}

ion-toolbar{
  --background: var(--color-3);
}

ion-menu-button{
  color: white;
}

.bg-tint{
  z-index:-2;
  // background: black;
}



.main-content{
  padding:20px;
  background: transparent;
  margin-top:25px;
  // border-radius: 10px;
}

.header-logo{
  margin-bottom: -120px;
  margin-top: -160px;

    img{
      width: 100%;
      height: 70%;
    }
}

.header-logo{
  margin-top: -40px;
  height: 250px;
  width: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.main-content-title{
  font-family: Ubuntu !important;
  font-weight: 1000;
  font-size: 35px;
  color: white;
  margin-top: 45px;
}

.main-content-text{
  font-family: Ubuntu !important;
  font-size:20px;
  color:white;
  margin-top:5px;
  margin-bottom: -20px;
  font-weight: 900;
  text-shadow: 0.5px 0.5px black;
}

.email-user-card{
  background: #171717;
  border-radius: 10px;
  padding:25px;
  color: white;
  font-family: Ubuntu !important;
  font-size: 22px;
  margin:20px;
  margin-top: -25px;

}

.email-input{
  margin-top:15px;
  background:white;
  color:black;
  border-radius:10px;
}

.title-product{
  margin-left: 10px;
  font-family: 25px;
}

.products-card{
  background: #171717;
  width: 260px;

  img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-name{
    font-size: 20px;
    color: #FFBF00;
  }

  .card-price{
    font-size: 20px;
    color: white;
  }

  .custom-button{
    border-radius:7px;
    --background: #2cb42c;
  }


}
.homepage-card-above{
  color: #FFBF00;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.homepage-card-outline{
  background: #171717;
  margin-bottom: 5px;;
  margin-top: 0px;
}

.homepage-card-image{
  width: 90%;
  height: 300px;
  object-fit: cover;
}

.homepage-card-content{
  color: white;
  font-size: 19px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 15px;
}