<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Home</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    <div class="bg-tint">
      <img class="home-bg-img" src="assets/img/bgHOME.jpg">
    </div>

    <div class="main-content">
      <div class="main-content-title">
        Fresh and Delicious
      </div>
      <div class="main-content-text ion-text-left">
        We serve the best meals with the freshiest ingredients and deliver at the best prices.
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button class="custom-button" size="small" style="border-radius: 0px">Read More</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="email-user-card ion-text-center">
      Subscribe to be our <strong>item updates</strong>
      <ion-input class="email-input" placeholder="Your email*"></ion-input>
      <small style="font-size:12px;">*By entering your email you agree to our <u>terms & conditions</u>.</small>
      <br>
      <ion-button class="custom-button">Subscribe</ion-button>
    </div>

</ion-content>

<!--TEST-->
