<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="register">
      <input
        type="email"
        class="form-default"
        placeholder="Email"
        formControlName="email"
        value="{{registerInfo.email}}">
  
      <input
        type="text"
        class="form-default"
        placeholder="First Name"
        formControlName="firstName"
      >
      <input
        type="text"
        class="form-default"
        placeholder="Middle Name"
        formControlName="middleName"
      >
      <input
        type="text"
        class="form-default"
        placeholder="Last Name"
        formControlName="lastName"
      >

      <ion-input
        type="text"
        class="form-default"
        placeholder="Birthdate"
        value="{{registerInfo.birthday}}"
        id="open-modal"
        formControlName="birthdate"
        style="--padding-start: 10px;"
      ></ion-input>
  
      <ion-modal trigger="open-modal" class="birthdate">
        <ng-template>
          <ion-content>
            <div class="birthday-picker">
              <ion-datetime presentation="date"
              [preferWheel]="true" size="cover" #datetime
              [showDefaultButtons]="true"
              (ionChange)="test(datetime.value)"
              displayFormat="MMMM DD, YYYY" pickerFormat="MMMM D YYYY"
              >
              </ion-datetime>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>

      <input
        type="text"
        class="form-default"
        formControlName="password"
        placeholder="Password"
      >
      <input
        type="text"
        class="form-default"
        placeholder="Confirm Password"
        formControlName="confirmPass"
      >
      <button 
        type="submit"
        class="btn-default"
      >
        Register
      </button>
    </div>
  </form>
  
</ion-content>
